:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #222;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
	margin: 0;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: #5aaaff;
	height: 50px;
}

header nav {
	display: flex;
	justify-content: flex-end;
}

.logo {
	width: 62px;
	height: 50px;
	background: #111;
	padding-left: 12px;
	padding-right: 12px;
}

header nav a {
	color: #fff;
	padding: 0.75rem;
	text-decoration: none;
}

header nav a.active {
	background-color: #0005;
}

header nav a:hover {
	background-color: #0008;
}

.box {
	color: #222;
	background-color: #f1f1f1;
	border: 1px solid transparent;
}

main {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 5rem;
}

@media (max-width: 639px) {
	main {
		margin: 2rem;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}

	.box {
		color: #ccc;
		background-color: #222;
	}
}

#fourohfour {
	margin-top: 2rem;
	opacity: 0;
    animation: fadeInAnimation ease 0.5s;
	animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}